/* body{background: #710914;} */
/* MintUI框架样式还原 */
.box .mint-field .mint-cell-value{
	background: none;
}

.box .mint-button:not(.is-disabled):active::after {
    opacity: 0;
}
.box .mint-button::after{
	background: #F7D082;
	content: none;
}
.box .mint-button:active{
	opacity: 0.9;
	border: 0;
}
 
input{
    caret-color:#333;
}
.box{
	padding: 0.1rem 0.3rem 2rem;
	height: 100%;
	/* background: #710914; */
}
.all .mint-cell-wrapper{
	background-image: none;
	border: 0;
}
.top .mint-cell-wrapper,.top .f-input input,.bForm .mint-cell-wrapper{
	color: #eee;
	background: #fff;
	
}
.top .f-input input::-webkit-input-placeholder,.bForm .f-input input::-webkit-input-placeholder { /* WebKit browsers */ 
	color: #eee; 

}
.top .f-input input, .bForm .f-input input{background: none;color: #2B4982;padding-left: 0;}
.top .f-input .mint-cell-text,.bForm .f-input .mint-cell-text{color: #A3866C;font-size: 0.32rem;width: 0.5rem;}
.bForm .f-input .mint-cell-text{color: #ccc;}
.bForm .f-input input{color: #2B4982;}
.mint-field-clear{
	opacity: 0.5;
	color: #000;
}
.form .mint-field-clear{
	color: #848181;
	position: relative;
	z-index: 33;
	right: 0.8rem;
	opacity: 1;
}
.top{
	position: relative;
}

.mint-swipe-item img{
	width: 100%;
}
.text-box{
	/* background: #710914; */
	padding: 0.4rem 0.3rem 0;
	position: relative;
}
.form{
	width: 6.52rem;
	margin: 165px auto 0;
	height: 6.42rem;
	padding: 0 0.5rem 0;
	position: relative;
/* 	background:url(../img/form_bj.png) center no-repeat;
	background-size: 100%; */
}
.f-input .mint-cell-text{
	font-size: 0.32rem;
}

.f-input .mint-field .mint-cell-title{
	width: 1rem;
}
.f-input input{
	height: 0.8rem;
	background: #fff;
	padding-left: 0.3rem;
	padding-right: 0.8rem;
	font-size: 0.28rem;
	border-radius: 0.04rem;
	caret-color: #fff;
}
.f-input input::-webkit-input-placeholder {  
	color: #fff; 
} 

.f-input .mint-cell{
	margin-bottom: 0.88rem;
	/* border-bottom: 1px solid #666; */
}
button.sub{
	display: block;
	width: 6.22rem;
	height: 0.88rem;
	margin: 0.7rem auto 0;
	background: linear-gradient(180deg, #FB6F52 0%, #F3240A 100%);
	font-size: 0.36rem;
	font-weight: 500;
	color: #fff;
	padding: 0;
}
button.sub a{
	display: inline-block;
	width: 100%;
	height: 100%;
	line-height: 1rem;
}
.logoT{width: 100%;height: 4rem;background: url(~@/assets/img/logoTitle.png) center no-repeat;background-size:6rem;position: relative;z-index: 8;}
.form .mint-cell{min-height: 0.8rem;}
